@CHARSET "ISO-8859-1";

body.painel{
	font:100%/1.4 Georgia, "Times New Roman", Times, Serif;
	color: #000;
	background: #000000;
}
a:link, a:active, a:viseted{
	text-decoration: none;
	color: #f9f;
}
a:hover{
	text-decoration: underline;
}
#wrapper{
	width: 95%;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 1px 4px 10px 3px white;
}
#content{
	box-shadow: 1px 4px 10px 3px white;
	background-color:#ffe;
	float: right;
	width: 100%;	
	overflow: auto;
}
#sidebar{
	float: left;
	width: 150px;
}
#header{
	background-image:url('../img_karfacil/karfacil_painel.png');
	height: 160px;
	border-bottom: 2px solid #999;
	padding: 10px; 
}
#header h1{
	font-size: 30px;
	margin-top:  30px;
}
.link{
	text-decoration:none;
}
.link:hover{
	text-decoration:none;
}
#wrap-content{
	display: table;
	height: auto;
	padding: 10px;
}
#content h2{
	font-size: 20px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}
#sidebar ul li{
	 padding: 2% 5%;
	 width: 90%;
	 background: #f9f9f9;
	 margin-bottom: 1px;
	 font-size: 16px;
	 display: block;
}
#accordion{
	background-color: #e9e9e9;
}
#accordion ul{
	display: none;
	margin: 5px 10px;
}
#accordion ul li{
	padding: 2%;
	width: 96%;
	background: #fff;
	margin-bottom: 2px;
	display: block;
	font-size: 14px;
}
#footer{
	height: 20px;
	border-top: 2px solid #999;
	padding: 20px 10px;
	text-align: center;
}
#logimForm {
	width: 400px;
	margin: 100px auto;
}
fieldset {
	border: 1px solid #a9a9a9;
	padding: 20px 10px;
}
legend {
	font-size: 18px;
	padding: 0 10px;
}
form li {
	padding: 5px;
	margin-bottom: 1px;
}
form li.center {
	text-align:center;
}
form li.left{
	text-align: left;
}
form li.right{
	text-align: right;
}
form input[type=submit], form input[type=button] {
	cursor: pointer;
	padding: 5px 25px;
	border: 1px solid #ccc;
	margin: 0 5px;
}
form input[type=submit]:hover, form input[type=button]:hover {
	background: #f8f8f8;
	border: 1px solid #666;
}
form label{
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 5px ;
}
form label.error {
	float: none;
	display: block;
	color: #f00;
	width: auto;
	text-align: left;
	padding-left: 105px;
}
form input[type=text], form input[type=password], form textarea,select,option {
	padding: 5px;
	border: 1px solid #ccc;
	width: 95%;
}
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
	background: #f8f8f8;
	border: 1px solid #666;
}
.radius5{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.erro, .sucesso, .alerta, .pergunta{
	width: 96%;
	padding: 2%;
	margin: 10px 0;
}
.sucesso{
	background: #eff4d4;
	border: 1px solid #8fad3d;
	color: #596c26;
}
.alerta{
	background: #ffea97;
	border: 1px solid #e2b500;
	color: #995fb5;
}
.aviso{
	color: red;
}
.erro{
	background: #efcec9;
	border: 1px solid #ac3f30;
	color: #943728;
}
.pergunta{
	background: #c6d8f0;
	border: 1px solid #4381cc;
	color: #5c58b9;
}
#busca_geral{
	font-size: 16px;
	color: #fff;
}
#propagandas{
	font-size: 16px;
	color: #fff;
}
#lojas_logo{
	font-size: 16px;
	color: #fff;
}
#img_logo{
	width: 98%;
	margin-bottom: 7px;
	margin-left: 5px;
	border: solid 1px #000000;
}
#img_logo_static{
	width: 98%;
}
#img_propaganda{
	width: 98%;
	border: solid 1px #000;
	margin-bottom: 7px;	
}
#img_logo:hover{
	border: solid 1px #e00f16;
}
#img_propaganda:hover{
	border: solid 1px #e00f16;
}
.item{
	padding-left: 50px;
}
.fonte{
	font-size: 16px;
}
.v_desc{
	font-size: 16px;
	text-align: center;
	margin-left:73px;
	margin-right:73px;
}
.h_desc{
	font-size: 16px;
	text-align: center;
	padding-left:70px;
	padding-right:70px;
}
.post{
	background-color: #ffffff;
}
.data{
	margin-top: 2px;
}
.v_desc:hover{
	background-color: #ffffff;
}
.titulo{
	font-size: 25px;
	border-bottom: #e00f16 1px solid;
}
.noticias{
	color: #fff;
	text-decoration: none;
}
.painel_adm{
	padding-top:50px;
	font-size: 50px;
}
.painel_adm_time{
	font-size: 16px;
}
.noticiario{
	background-color: #e00f16;
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 5px;
}
.imp_item_menu{
	background-color: #e00f16;
	margin-left: 4px;
	margin-top: 2px;
}
.lista_noticias{
	font-size: 25px;
	border-bottom: #e00f16 1px solid;
}
.fundo_red{
	padding-bottom:5px;
	margin-right: 4px;
	border-bottom: #000000 1px solid;
}
.fundo_trans:hover{
	background-image:url('../img_karfacil/fundo_transparente.png');
	color: #f89f7d;
}

.face_plugin{
	margin-left: 30px;
	margin-right: 30px;
}
.fundo{
	background-color: white;
}
.form_email{
	margin-left: 20px;
	margin-right: 20px;
}
.destaque{
	font-size: 16px;
	border-bottom: #000 solid 1px;
}
.select_prop{
	width:230px;
	float: right;
}
.input_prop{
	float: left;
	width:450px;
}
.submit_prop{
	margin-left: 280px;
	
}